version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: postgres_sobrevidas
    restart: always
    environment:
      POSTGRES_DB: sobrevidas_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
